Texts/Credits.xml
Texts/FinnishVanilla.xml
Texts/BrazilianPortuguese/BrazilianPortugueseVanilla.xml
Texts/BrazilianPortuguese/BrazilianPortugueseVanillaEditorTexts.xml
Texts/BrazilianPortuguese/BrazilianPortugueseVanillaEndgame.xml
Texts/BrazilianPortuguese/BrazilianPortugueseVanillaFactions.xml
Texts/CastilianSpanish/CastilianSpanishVanilla.xml
Texts/CastilianSpanish/CastilianSpanishVanillaEditorTexts.xml
Texts/CastilianSpanish/CastilianSpanishVanillaEndgame.xml
Texts/CastilianSpanish/CastilianSpanishVanillaFactions.xml
Texts/English/EnglishVanilla.xml
Texts/English/EnglishVanillaEditorTexts.xml
Texts/English/EnglishVanillaEndgame.xml
Texts/English/EnglishVanillaFactions.xml
Texts/English/EnglishVanillaNew.xml
Texts/French/FrenchVanilla.xml
Texts/French/FrenchVanillaEditorTexts.xml
Texts/French/FrenchVanillaEndgame.xml
Texts/French/FrenchVanillaFactions.xml
Texts/German/GermanVanilla.xml
Texts/German/GermanVanillaEditorTexts.xml
Texts/German/GermanVanillaEndgame.xml
Texts/German/GermanVanillaFactions.xml
Texts/Japanese/JapaneseVanilla.xml
Texts/Japanese/JapaneseVanillaEditorTexts.xml
Texts/Japanese/JapaneseVanillaEndgame.xml
Texts/Japanese/JapaneseVanillaFactions.xml
Texts/Korean/KoreanVanilla.xml
Texts/Korean/KoreanVanillaEditorTexts.xml
Texts/Korean/KoreanVanillaEndgame.xml
Texts/Korean/KoreanVanillaFactions.xml
Texts/LatinamericanSpanish/LatinamericanSpanishVanilla.xml
Texts/LatinamericanSpanish/LatinamericanSpanishVanillaEditorTexts.xml
Texts/LatinamericanSpanish/LatinamericanSpanishVanillaEndgame.xml
Texts/LatinamericanSpanish/LatinamericanSpanishVanillaFactions.xml
Texts/Polish/PolishVanilla.xml
Texts/Polish/PolishVanillaEditorTexts.xml
Texts/Polish/PolishVanillaEndgame.xml
Texts/Polish/PolishVanillaFactions.xml
Texts/Russian/RussianVanilla.xml
Texts/Russian/RussianVanillaEditorTexts.xml
Texts/Russian/RussianVanillaEndgame.xml
Texts/Russian/RussianVanillaFactions.xml
Texts/SimplifiedChinese/SimplifiedChineseVanilla.xml
Texts/SimplifiedChinese/SimplifiedChineseVanillaEditorTexts.xml
Texts/SimplifiedChinese/SimplifiedChineseVanillaEndgame.xml
Texts/SimplifiedChinese/SimplifiedChineseVanillaFactions.xml
Texts/TraditionalChinese/TraditionalChineseVanilla.xml
Texts/TraditionalChinese/TraditionalChineseVanillaEditorTexts.xml
Texts/TraditionalChinese/TraditionalChineseVanillaEndgame.xml
Texts/TraditionalChinese/TraditionalChineseVanillaFactions.xml
Texts/Turkish/TurkishVanilla.xml
Texts/Turkish/TurkishVanillaEditorTexts.xml
Texts/Turkish/TurkishVanillaEndgame.xml
Texts/Turkish/TurkishVanillaFactions.xml
